<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My site</title>
</head>

<body>
    <header>
        <div>
            <table>
                <tr>
                    <td><img class="logo" src="https://upload.wikimedia.org/wikipedia/ru/e/e9/MediaMonkey_Logo.png"
                            width="50" height="50" alt="logo"></td>
                    <td> | <a href="#">Поиск</a> | <a href="#">Основная часть</a> | <a href="#">Контакты</a> | <a
                            href="#">Справка</a> | </td>
                    <td><button>Войти</button></td>
                </tr>
            </table>
        </div>
    </header>
    <div class="main">
        <table>
            <tr>
                <!-- Начало левой части -->
                <td>
                    <form>
                        <div>
                            <p>Цена От <input type="text" size="8"> До <input type="text" size="8"></p>
                        </div>

                        <div>
                            <p>Выбор вида материала</p>
                            <p><input type="checkbox">Мех шерстяной</p>
                            <p><input type="checkbox">Натуральная кожа</p>
                            <p><input type="checkbox">Натуральный мех</p>
                            <p><input type="checkbox">Овечья шерсть</p>
                            <p><input type="checkbox">полиакрил</p>
                            <p><input type="checkbox">Полиэстер</p>
                        </div>

                        <div>
                            <p>Выбор животного</p>
                            <select>

                                <option>Любое животное</option>
                                <option>Зебра</option>
                                <option>Тигр</option>
                                <option>Корова</option>
                            </select>
                        </div>

                        <div>
                            <p>Цвет : <input type="color" name="bg" value="#ff0000"></p>
                        </div>
                        <button (click)="filter()">Отфильтровать</button>
                    </form>
                </td>
                <!-- Конец левой части -->
                <!-- Начало правой части -->
                <td>
                    <div class="right">
                        <table>
                            <tr>
                                <td>
                                    <img src="https://exotickozha.ru/userfiles/etbhss.jpg" width="150" height="150">
                                    <p>15000 &#8381; <button>В корзину &#128722;</button></p>
                                </td>
                                <td>
                                    <img src="https://img2.labirint.ru/books/221754/scrn_big_1.jpg" width="150"
                                        height="150">
                                    <p>17000 &#8381; <button>В корзину &#128722;</button></p>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://amikovry.ru/upload/iblock/ada/amikovry_cow_tricolor_100x240_1_w.jpg"
                                        width="150" height="150">
                                    <p>5000 &#8381; <button>В корзину &#128722;</button></p>
                                </td>
                                <td><img src="https://www.etno-butik.com/assets/images/products/499/1000x1000/206-kopiya.jpg"
                                        width="150" height="150">
                                    <p>20000 &#8381; <button>В корзину &#128722;</button></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><button>Показать еще...</button></td>
                            </tr>
                        </table>
                    </div>
                    <!-- конец правой части -->
                </td>
            </tr>
        </table>
    </div>
    <footer>
        <table>
            <tr>
                <td colspan="5">
                    <p>© 2020 Магазин шкур-Все права защищены.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Способы оплаты:
                    </p>
                </td>
                <td>
                    <img src="https://cdn.iconscout.com/icon/free/png-256/visa-7-282549.png" width="50" height="50">
                </td>
                <td>
                    <img src="https://www.stokdom24.ru/assets/img/logo/mir.png" width="50" height="50">
                </td>
                <td>
                    <img src="https://cdn.iconscout.com/icon/free/png-256/mastercard-11-282395.png" width="50"
                        height="50">
                </td>
                <td>
                    <img src="https://info.paymaster.ru/wp-content/uploads/2019/02/2-11.png" width="50" height="50">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Контакты:</p>
                </td>
                <td>
                    <a href="https://www.facebook.com/"><img
                            src="https://cdn.iconscout.com/icon/free/png-256/facebook-2038471-1718509.png" width="50"
                            height="50"></a>
                </td>
                <td>
                    <a href="https://www.instagram.com/"><img
                            src="https://cdn.iconscout.com/icon/free/png-256/instagram-1868978-1583142.png" width="50"
                            height="50"></a>
                </td>
                <td>
                    <a href="https://twitter.com/"><img
                            src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Twitter_NEW.png"
                            width="50" height="50"></a>
                </td>
                <td>
                    <a href="https://vk.com/"><img
                            src="https://cdn.iconscout.com/icon/free/png-256/vk-2506772-2100672.png" width="50"
                            height="50"></a>
                </td>
            </tr>
        </table>
    </footer>
</body>

</html>